@import url('https://fonts.googleapis.com/css?family=Montserrat');

body{
	background-color: #e9ebee;
	height: 100%;
	font-size: calc(0.5em + 0.5vw);
}
a:hover{
	text-decoration: none;
}
.bottom-main{
	background-color: white;
	display: flex;
	align-items: center;
	padding: 10px;
	margin-bottom: 3%;

}

.navbar {
	background-color: #3B5998;
	z-index: 999999;
	border:none;

}
.navbar-left{
	padding: 0;
	border: 0;
	box-shadow: none;
}
.nav.navbar-nav.navbar-right li a {
	color: white;
}

.row.no-pad > [class*='col-'] {
	padding-right:0;
	padding-left:0;
}
#bs-example-navbar-collapse-1 > div > div > a{
	color:white;
}
.border-right{
	border-right: 1px solid #355089;
	padding-right: 3%;
}
.main-head{
	padding-left: 0;
}
.l-icon{
	padding-right: 2%;
}
.home{
	color:white;
	padding-left: 2%;
	padding-right: 6%;
}
.p-img{
	max-width: 20px;
	display: inline-block;
	margin-left: 5px;

}
.b-search{
	padding: 1.5px 12px;
}
.fa-facebook-official{
	font-size: 2em;
	color:white;
	
}

.fa-globe:before{
	color: gainsboro;
}

.g-icons{
	color:white;
	padding: 0 5px;
}
.off-fb-icon{
	width: 24px;
	padding-right: 0;
}

.input-group{
	padding-left: 5px;
	min-width: 150px;
}
.form-control{
	height: 25px;
}

.fb-icon{
	display: flex;
	align-items: center;
	margin: 5px;
}
.head{
	display: flex;
	align-items: center;
}
.fixed-left{
	min-width: 350px;
	margin-left: 50px;
}
.affix{
	width: 17%;
	transition: 0.5s ease-in-out;
	
	height: 100%;
}
.affix-b{
	width: 80%;
}

.sidebar{
	padding-left: 25px;
	transition: .5s ease-in-out;
	
}
.story{
	padding-left: 0;
	padding-right: 0;
	padding-top: 45px;
}
#create-page{
	background-color: #4ab229;
	border: none;
}
.web-link{
	font-family: 'Montserrat';
	font-size: 1vw;
	font-weight: 900;
	display: inline;
}
.logo-img{
	padding-top: 60px;
	width: 100%;
	
	
}
.ref{
	color :white;
	font-family: 'Montserrat';
	font-size: 20pt;
	font-weight: 900;
	display: inline;
	padding: 80px 0;
} 

.status{
	background-color: #f6f7f9;
	padding: 5px;
	margin: 0 5px 0 0;
}
.about-fb{
	background-color: #f6f7f9;
}
.post-header{
	padding: 0 3px;
}
.post-img{
	max-width: 20px;
	display: inline-block;
}
.write-img{
	max-width: 50px;
	display: inline-block;
}
.write-post{
	background-color: white;
	padding: 10px;
	margin: 0 5px 5% 0;
}
.post-desc{
	border: none;
	box-shadow: none;
}
.grey{
	color: gainsboro;
}
.img-drop{
	text-align: right;
	margin-right: 0;
}
.right-images{
	margin: 5px 5px 0 5px;
}
.personal-web{
	padding:5px;
	background-color: white;
	margin: 0 0 10px 5px;
}
.images-web{
	margin: 0 0 5px 5px;
	background-color: white;
}
.about-web{
	padding:5px;
	background-color: #f6f7f9;
	margin: 0 0 0 5px;
}


.form-control:focus {border-color:rgba(100,100,100,1)!important;

	box-shadow: none!important;
}
.user-post{
	background-color: white;
	padding: 10px 10px 0 10px;
	margin: 10px 5px 0 0;
}
.user-post-header{
	padding-bottom: 5px;
}
.user-post-img{
	padding-bottom: 10px;
	border-bottom: 1px solid #e9ebee;

}
.blue-back{
	background-color: #5890ff;
	height: 80px;
	margin: 5px 5px 5px 0;

}
.p-behav{
	display: inline-block;
}
.text-p{
	color: #8a8a8a;
	display: inline-block;
}
.comment-wrapper{
	display: none;
}
.user-comment{
	border:1px solid #e1e1e3;
	background-color: #f6f7f9;
	padding: 10px 10px 0 10px;
	margin: 0 5px 0 0;
}
.comment-wrapper{
	padding: 10px 10px 0 10px;
	margin: 0 5px 0 0;
}
.comment-holder{
	border:1px solid #e9ebee;
	background-color: white;
}
.right-align{
	text-align: right;
}

.next-post{
	margin-top: 30px;
}

.indent-inside{
	padding: 10px;
}
.low-indent-inside{
	padding: 5px;
}
.border-bottom{
	
	border-bottom:1px solid #e9ebee;
}
.bottom-align{
	    position: absolute;
    bottom: 0;
    right: 0;
    padding-bottom: 10px;
}
.main{
	position: relative;
}
.img-overlay{
	position: absolute;
  padding: 0 ;
  top: 0;
  bottom: 0;
   left:0;
right: 0;


  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
  transition: .5s ease-in-out;
  background: rgba(0, 0, 0, 0.5);

}
.is-inline {
	transition: 0.5s ease-in-out; 
	position: relative;
	display: inline-block;
}
#player_uid_563157928_1 > div.ytp-cued-thumbnail-overlay > div{
	background-image: none;
}
#player_uid_563157928_1{
	background-color: #5890ff;
}
body > div.row > div > div > div.row > div > div.row.no-pad > div.col-xs-8 > div.row.user-post.no-pad > div.row.no-pad.fb-icon > div:nth-child(1) > div > a:nth-child(1) > i{
	color:#8a8a8a;
}
.center-align{
	align-items: center;
    display: flex;
    flex-direction: column;
}
.group-button{
	margin-bottom: 0;
	font-size: 0.8vw;
	color:#45506e;
	
}
#sidebar-toggle{
	float: left;
	padding: 5px;
}
body > div > div.container > div > div.row{
	margin-left:0;
	margin-right:0;
}
.back-blue{
	width: 100%;
	background-color: #4080fe;
}

.grey{
	white-space: nowrap;
	padding-top: 0;
	padding-bottom: 0;
	background-color: #f6f7f9;
	font-size: 1vw;
	border-color: #cfd0d2;
}
.grey:hover{
	background-color: #dedfe3;
}
.b-group{
	color:#4766b9;
}
.g-group{
	color:gainsboro;
}

#post-list > div.row.user-post.no-pad > div.row.no-pad.fb-icon > div:nth-child(1) > div:nth-child(2){
	padding-left: 0;
}
body > div > div > div > div.col-md-3.col-xs-3.sidebar > div > div > ul > li> a{
	color: black;

}
body > div > div.container > div > div.sidebar > div > div > div > div > ul > li{
	padding: 5px;
	
	
}
body > div > div.container > div > div.sidebar > div > div > div > div > ul > li:hover{
	border-left: 1px solid #4567ae;
	background-color: #dedfe3;
}

body > div > div.container > div > div.sidebar > div > div > div > div > ul > li > a{
	color: #4e4f53;
	font-size: 1vw;
}

ul{ 
	list-style-type: none;
	padding: 0;
	font-size: 20px;

}

body > div > div.container > div > div.row > div > div.row.bottom-main > div:nth-child(1) > div > div > div > div > button{
	z-index:0;
}
body > div.row.main > div.container > div > div.row > div > div.row.no-pad > div.col-md-4.col-xs-4 > div.row.fb-icon.no-pad.personal-web.search-web > div > div > input{
	z-index: 0;
}
@media (min-width: 768px)
{
.navbar-toggle {
    display: block;
}
}
@media (min-width: 992px){
	.navbar-toggle {
		display: none;
	}
}
@media (max-width:992px ) {
	
 .affix{
	overflow-y: scroll;
	overflow-x: hidden;
	
	 left:-100%;
	
	 min-height: 100%;
	 
 }
	
	
}

@media (max-width: 768px) {
	.btn-responsive {
	  padding:2px 4px;
	  font-size:80%;
	  line-height: 1;
	  border-radius:3px;
	}
  }
  
  @media (min-width: 769px) and (max-width: 992px) {
	.btn-responsive {
	  padding:4px 9px;
	  font-size:90%;
	  line-height: 1.2;
	}
  }



